{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "react-hooks"],

  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".jsx"]
      },

      "webpack": {
        "config": "webpack.config.shared.js"
      }
    }
  },

  "rules": {
    "prettier/prettier": ["error"],
    "import/prefer-default-export": "off",
    "react/prop-types": "off"
  },

  "globals": {
    "document": true,
    "window": true
  }
}
